In [18]:
def calculate_current_ratio(current_assets, current_liabilities):
    """
    Calculate the Current Ratio.

    Parameters:
        current_assets (float): The total current assets of the company.
        current_liabilities (float): The total current liabilities of the company.

    Returns:
        float: The Current Ratio, or None if current liabilities are zero.
    """
    if current_liabilities == 0:
        return None  # Avoid division by zero
    return current_assets / current_liabilities


def calculate_quick_ratio(current_assets, inventory, current_liabilities):
    """
    Calculate the Quick Ratio.

    Parameters:
        current_assets (float): The total current assets of the company.
        inventory (float): The total inventory of the company.
        current_liabilities (float): The total current liabilities of the company.

    Returns:
        float: The Quick Ratio, or None if current liabilities are zero.
    """
    if current_liabilities == 0:
        return None  # Avoid division by zero
    return (current_assets - inventory) / current_liabilities

def calculate_debt_to_equity_ratio(total_liabilities, shareholders_equity):
    """
    Calculate the Debt-to-Equity Ratio.

    Parameters:
        total_liabilities (float): The total liabilities of the company.
        shareholders_equity (float): The total shareholders' equity of the company.

    Returns:
        float: The Debt-to-Equity Ratio, or None if shareholders' equity is zero.
    """
    if shareholders_equity == 0:
        return None  # Avoid division by zero
    return total_liabilities / shareholders_equity

def calculate_working_capital(current_assets, current_liabilities):
    """
    Calculate the Working Capital.

    Parameters:
        current_assets (float): The total current assets of the company.
        current_liabilities (float): The total current liabilities of the company.

    Returns:
        float: The Working Capital.
    """
    return current_assets - current_liabilities


def calculate_bvps(shareholders_equity, preferred_equity, outstanding_shares):
    """
    Calculate the Book Value per Share (BVPS).

    Parameters:
        shareholders_equity (float): The total shareholders' equity of the company.
        preferred_equity (float): The preferred equity portion of the shareholders' equity.
        outstanding_shares (float): The total number of outstanding common shares.

    Returns:
        float: The Book Value per Share (BVPS), or None if outstanding shares are zero.
    """
    if outstanding_shares == 0:
        return None  # Avoid division by zero
    return (shareholders_equity - preferred_equity) / outstanding_shares

In [19]:
import pandas as pd

url = 'https://docs.google.com/spreadsheets/d/11hLH31mEzlMmWyTnrJw5Ahm_QAWRdUUCZDGNC3UuBwI/export?format=csv'
df = pd.read_csv(url)

df

,line,item_code,item,alias,description,examples,riadky,check,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,Číslo,Písmeno,Od,NaN,NaN,NaN,NaN,NaN,01.01.2023,01.01.2022,01.01.2021,01.01.2020,01.01.2019,01.01.2018,01.01.2017,01.01.2016,01.01.2015,01.01.2014,01.01.2013
1,NaN,NaN,Do,NaN,Popis,Príklady,Comment,Check,31.12.2023,31.12.2022,31.12.2021,31.12.2020,31.12.2019,31.12.2018,31.12.2017,31.12.2016,31.12.2015,31.12.2014,31.12.2013
2,1,NaN,Spolu majetok,NaN,NaN,NaN,[02+33+74],3952823,3952823,3644413,2271833,2072479,1860230,1758618,1787724,1232661,1057865,903164,986464
3,2,A,Neobežný majetok,NaN,Dlhodobý majetok spoločnosti používaný na podn...,"Pozemky, budovy, nehmotné aktíva.",[03+11+21],698783,698783,759978,836482,869520,939052,900456,904780,620525,294836,283317,186603
4,3,A.I.,Dlhodobý nehmotný majetok súčet,NaN,"Súčet nehmotného majetku, ako sú patenty, soft...","Softvér, licencie, autorské práva.",[04 až 10],3,3,3,3,3,1159,8143,15126,22108,29090,36072,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,135,B.IV.10.,Iné záväzky,NaN,Ostatné záväzky nesúvisiace s obchodnou činnos...,Krátkodobé pôžičky.,NaN,NaN,-466,737,-321,-1026,1194,-2322,30894,27260,NaN,NaN,NaN
59,136,B.V.,Krátkodobé rezervy,NaN,Rezervy na krytie krátkodobých výdavkov.,"Rezervy na opravy, reklamácie.",[137+138],NaN,3641,9131,8686,6948,4556,NaN,2801,2125,1847,549,731
60,138,B.V.2.,Ostatné rezervy,NaN,Rezervy nesúvisiace priamo s obchodnou činnosťou.,Rezervy na súdne spory.,NaN,NaN,3641,9131,8686,6948,4556,NaN,2801,2125,1847,549,731
61,139,B.VI.,Bežné bankové úvery,NaN,Krátkodobé bankové úvery.,Úvery na financovanie prevádzky.,NaN,NaN,95915,NaN,130523,152697,75982,27787,283332,78969,NaN,NaN,NaN
62,140,B.VII.,Krátkodobé finančné výpomoci,NaN,Krátkodobé pôžičky na preklenutie nedostatku h...,Kontokorentné úvery.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149,391,NaN,NaN,NaN,NaN

In [20]:
def get_value_from_item(df, item_name, column_name):
    """
    Retrieve a value from the DataFrame based on the 'item' column and a specific column name.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the data.
        item_name (str): The name to search for in the 'item' column.
        column_name (str): The column name to retrieve the value from.

    Returns:
        The value from the specified row and column, or None if not found.
    """
    try:
        # Filter the row based on the item name
        value = df.loc[df['alias'] == item_name, column_name].values[0]
        return value
    except IndexError:
        return None  # Return None if the item or column is not found

In [21]:
current_assets = float(get_value_from_item(df,"current_assets","2023"))
inventories = float(get_value_from_item(df,"inventories","2023"))
current_liabilities = float(get_value_from_item(df,"current_liabilities","2023"))


quick_ratio = calculate_quick_ratio(current_assets, inventories, current_liabilities)

print(quick_ratio)

6.101395338250023