In [3]:
def calculate_current_ratio(current_assets, current_liabilities):
    """
    Calculate the Current Ratio.

    Parameters:
        current_assets (float): The total current assets of the company.
        current_liabilities (float): The total current liabilities of the company.

    Returns:
        float: The Current Ratio, or None if current liabilities are zero.
    """
    if current_liabilities == 0:
        return None  # Avoid division by zero
    return current_assets / current_liabilities


def calculate_quick_ratio(current_assets, inventory, current_liabilities):
    """
    Calculate the Quick Ratio.

    Parameters:
        current_assets (float): The total current assets of the company.
        inventory (float): The total inventory of the company.
        current_liabilities (float): The total current liabilities of the company.

    Returns:
        float: The Quick Ratio, or None if current liabilities are zero.
    """
    if current_liabilities == 0:
        return None  # Avoid division by zero
    return (current_assets - inventory) / current_liabilities

def calculate_debt_to_equity_ratio(total_liabilities, shareholders_equity):
    """
    Calculate the Debt-to-Equity Ratio.

    Parameters:
        total_liabilities (float): The total liabilities of the company.
        shareholders_equity (float): The total shareholders' equity of the company.

    Returns:
        float: The Debt-to-Equity Ratio, or None if shareholders' equity is zero.
    """
    if shareholders_equity == 0:
        return None  # Avoid division by zero
    return total_liabilities / shareholders_equity

def calculate_working_capital(current_assets, current_liabilities):
    """
    Calculate the Working Capital.

    Parameters:
        current_assets (float): The total current assets of the company.
        current_liabilities (float): The total current liabilities of the company.

    Returns:
        float: The Working Capital.
    """
    return current_assets - current_liabilities


def calculate_bvps(shareholders_equity, preferred_equity, outstanding_shares):
    """
    Calculate the Book Value per Share (BVPS).

    Parameters:
        shareholders_equity (float): The total shareholders' equity of the company.
        preferred_equity (float): The preferred equity portion of the shareholders' equity.
        outstanding_shares (float): The total number of outstanding common shares.

    Returns:
        float: The Book Value per Share (BVPS), or None if outstanding shares are zero.
    """
    if outstanding_shares == 0:
        return None  # Avoid division by zero
    return (shareholders_equity - preferred_equity) / outstanding_shares

In [8]:
import pandas as pd

url = 'https://docs.google.com/spreadsheets/d/11hLH31mEzlMmWyTnrJw5Ahm_QAWRdUUCZDGNC3UuBwI/export?format=csv'
df = pd.read_csv(url)

df

,line,item_code,item,description,examples,riadky,check,2023,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,Číslo,Písmeno,Od,NaN,NaN,NaN,NaN,01.01.2023,01.01.2022,01.01.2021,01.01.2020,01.01.2019,01.01.2018,01.01.2017,01.01.2016,01.01.2015,01.01.2014,01.01.2013
1,NaN,NaN,Do,Popis,Príklady,Comment,Check,31.12.2023,31.12.2022,31.12.2021,31.12.2020,31.12.2019,31.12.2018,31.12.2017,31.12.2016,31.12.2015,31.12.2014,31.12.2013
2,1,NaN,Spolu majetok,NaN,NaN,[02+33+74],"3,952,823","3,952,823","3,644,413","2,271,833","2,072,479","1,860,230","1,758,618","1,787,724","1,232,661","1,057,865","903,164","986,464"
3,2,A,Neobežný majetok,Dlhodobý majetok spoločnosti používaný na podn...,"Pozemky, budovy, nehmotné aktíva.",[03+11+21],"698,783","698,783","759,978","836,482","869,520","939,052","900,456","904,780","620,525","294,836","283,317","186,603"
4,3,A.I.,Dlhodobý nehmotný majetok súčet,"Súčet nehmotného majetku, ako sú patenty, soft...","Softvér, licencie, autorské práva.",[04 až 10],3,3,3,3,3,"1,159","8,143","15,126","22,108","29,090","36,072",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,135,B.IV.10.,Iné záväzky,Ostatné záväzky nesúvisiace s obchodnou činnos...,Krátkodobé pôžičky.,NaN,NaN,-466,737,-321,"-1,026","1,194","-2,322","30,894","27,260",NaN,NaN,NaN
59,136,B.V.,Krátkodobé rezervy,Rezervy na krytie krátkodobých výdavkov.,"Rezervy na opravy, reklamácie.",[137+138],NaN,"3,641","9,131","8,686","6,948","4,556",NaN,"2,801","2,125","1,847",549,731
60,138,B.V.2.,Ostatné rezervy,Rezervy nesúvisiace priamo s obchodnou činnosťou.,Rezervy na súdne spory.,NaN,NaN,"3,641","9,131","8,686","6,948","4,556",NaN,"2,801","2,125","1,847",549,731
61,139,B.VI.,Bežné bankové úvery,Krátkodobé bankové úvery.,Úvery na financovanie prevádzky.,NaN,NaN,"95,915",NaN,"130,523","152,697","75,982","27,787","283,332","78,969",NaN,NaN,NaN
62,140,B.VII.,Krátkodobé finančné výpomoci,Krátkodobé pôžičky na preklenutie nedostatku h...,Kontokorentné úvery.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,149,391,NaN,NaN,NaN,NaN

In [10]:
def get_value_from_item(df, item_name, column_name):
    """
    Retrieve a value from the DataFrame based on the 'item' column and a specific column name.

    Parameters:
        df (pd.DataFrame): The DataFrame containing the data.
        item_name (str): The name to search for in the 'item' column.
        column_name (str): The column name to retrieve the value from.

    Returns:
        The value from the specified row and column, or None if not found.
    """
    try:
        # Filter the row based on the item name
        value = df.loc[df['item'] == item_name, column_name].values[0]
        return value
    except IndexError:
        return None  # Return None if the item or column is not found

# Example usage
item_name = "Spolu majetok"
column_name = "2022"

# Assuming df is your DataFrame
value = get_value_from_item(df, item_name, column_name)

if value is not None:
    print(f"The value for '{item_name}' in column '{column_name}' is: {value}")
else:
    print(f"Item '{item_name}' or column '{column_name}' not found.")

The value for 'Spolu majetok' in column '2022' is: 3,644,413